<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" type="text/css" href="/static/css/base.css">
        <link rel="stylesheet" type="text/css" href="/static/base.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <!--
        <link rel="stylesheet" type="text/css" href="http://jgoldstick-bucket1.s3-website-us-east-1.amazonaws.com/static/base.css">
        <link rel="shortcut icon" href="http://jgoldstick-bucket1.s3-website-us-east-1.amazonaws.com/static/favicon.ico" type="image/x-icon" />
        -->
        {% block head %}
        <title>JoelGoldstick.com</a></title>
        <a href="http://stackoverflow.com/users/469072/joel-goldstick">
<img src="http://stackoverflow.com/users/flair/469072.png" width="208" height="58" alt="profile for joel goldstick at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for joel goldstick at Stack Overflow, Q&amp;A for professional and enthusiast programmers">stack
</a>
        {% endblock %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-639618-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>    

    </head>
    <body>
    <h1><a href="{% url 'index' %}">JoelGoldstick.com</a></h1>
    {% include 'top_menu.html' %}
    
    {% block content %}
    {% endblock %}
    </body>
</html>
