{% extends 'base.html' %}
        {% block content %}
        <h1>Categories</h1>
        {% if categories %}
            
            {% for category in categories %}
                <h2 id="{{category.slug}}">{{ category }}</h2>
                <ul>
                {% for entry in category.entry_set.all%}
                    <li><a href="{{ entry.get_absolute_url }}">{{entry.title }}</a></li>
                {% endfor %}
                </ul></li>  
            {% endfor %}
            
        {% endif %}
        {% endblock %}

