{% extends 'base.html' %}
    {% block head %}
        <title>joelgoldsick.com - {{entry.title}}</title>
    {% endblock %}
    {% block content %}
        <h1>{{entry.title}}</h1>
        <p>Categories: 
        {% for category in entry.categories.all%}
        <a href="/blog/categories/#{{category.slug}}">{{category }}</a>,&nbsp
        {% endfor %}
        </p>
        <p class='published-on'>Published on {{entry.pub_date|date:"F j, Y"}}</p>
        {{ entry.body_html|safe}}
    {% endblock %}

