{% extends 'base.html' %}
    {% block content %}
        <h1>{{entry.title}}</h1>
        <p>Categories: 
        {% for category in entry.categories.all%}
        <a href="/blog/categories/#{{category.slug}}">{{category }}</a>,&nbsp
        {% endfor %}
        </p>
        <p class='published-on'>Published on {{entry.pub_date|date:"F j, Y"}}</p>
        {% if entry.modified_date %}
        <p class='published-on'>Last Modified on {{entry.modified_date|date:"F j, Y"}}</p>
        {% else %}
        <p class='published-on'>Last Modified on {{entry.pub_date|date:"F j, Y"}}</p>
        {% endif %}
        <p class="status">{{entry.status}}</p>
        {{ entry.body_html|safe}}
    {% endblock %}

